@font-face {
    font-family: 'PlexSans';
    src: local('PlexSans'), url(../Fonts/IBMPlexSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: local('Oswald'), url(../Fonts/Oswald-ExtraLight.ttf) format('truetype');
}

body {
    margin:0;
}

div.page {
    height:100vh;
    width:100vw;
    background-image: url('../Resources/Backgrounds/andrew-stutesman-l68Z6eF2peA-unsplash.jpg');
    background-size:100%;
    overflow-y: auto;
}

div.menu-bar {
    width: 100%;
    display:flex;
    animation: slideInMenu ease 1.5s;
    padding-top: 1em;
    font-size: 1.3em;
}

div.menu-bar a {
    margin: auto;
    font-family: PlexSans;
    color: #331f0c;
    text-decoration: none;
}

div.content-box {
    height:100%;
    flex-grow: 1;
    animation: stretchInContent ease 1.5s;
}

div.title-container {
    text-align: center;
    margin:auto;
}

h1.title {
    font-family: Oswald;
    font-weight: 100;
    font-size: 4.5em;
    margin-top: 0.8em;
    margin-bottom:0.4em;
    text-decoration: overline;
    color: #331f0c;
    text-shadow: 3px 2px #9e5d1647;
    animation: fadeInFirst ease 1s;
}

@keyframes fadeInFirst {
    0% {opacity:0}
    10% {opacity:0}
    100% {opacity:1}
}

@keyframes fadeInSecond {
    0% {opacity:0}
    40% {opacity:0}
    100% {opacity:1}
}

div.photos-container {
    height:100%; 
    width:90%; 
    margin-left:5%;
}

div.photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 20px;
}

.gallery__item {
    margin: 0;
}

.gallery__img {
    height:100%;
    width:100%;
    object-fit:cover;
    border-right: 3px solid #461e04;
    border-bottom: 3px solid #8c5227;
}

div.upload-page-container {
    width:100%;
    height:100%;
    display:flex;
}

div.upload-page {
    height:90%; 
    width:90%;
    margin:auto;
    padding:1em;
    background-color: white;
    display:flex;
    flex-direction: column;
}

div.upload-title {
    font-family: PlexSans;
    color: #331f0c;
    text-align: center;
}

div.upload-dropbox { 
    height:30%; 
    border:4px solid #d2d2d2;
    display:flex;
}

div.upload-placeholder {
    margin:auto;
    font-family:PlexSans;
    font-size: 1.5em;
}

div.upload-form-container {
    flex-grow: 1;
    border: 1px solid green;
    display:flex;
}

div.file-queue-list {
    width:50%;
    border:1px solid blue;
}

div.submission {
    width:50%;
    border:1px solid red;
}

div.file-label {
    display:flex

}

div.file-label p {
    margin-top:0;
    margin-bottom:0;
}



div.image-card a img {
    width:100%; 
    height:auto; 
    min-width:300px;
    border-right:4px solid #331f0c;
    border-bottom:4px solid #6f441b;
    animation: fadeInSecond ease 1.5s;
}